/* Main Styling */

body {
  padding-top: 70px;
  background-image:url("../img/faded-texture.jpg");
  background-attachment: fixed;
}

.col-md-4 {
  border: 1px solid red;
}
.h3 {
  display: block;
}

/* Section Styling */
.section-title {
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid black;
  text-align:left;
  padding-left: 50px;
  font-size: 2em;
  color: rgba(0,0,0,0.5);
}
.project-title {
  text-align: center;
}
.project-text {
  text-align:center;
}

.project-image {
  align-items: center;
}

/* About Me Styling */

#mypicture {
  max-width: 10%;
  max-height: auto;
  float:left;
}

.aboutme-text {
  float:left;
  margin-left: 5px;
}


/* Footer Styling */
#footer-div {
  color: rgba(150,150,150,0.8);
  min-width: 100%;
  bottom:0;
  left:0;
  right:0;
  font-size: 13px;
  background-color: rgba(0,0,0,0.6);
  height: 9em;
  /*border: 1px solid red;*/
  text-align: center;
}
#footer-content {
  color:white;
  min-width:500px;
  width:50%;
  margin-right: auto;
  margin-top: -0.5em;
  margin-left: auto;
}

#contactme {
  margin-top: 5px;
  margin-left: 10px;

}

.contact-img {
  width: 17px;
  margin-right: 5px;
  margin-left:15px;
  margin-top:4px;
}

.person-img {
  width: 13px;
}
